name: Enforce PR labels

on:
  pull_request:
    types: [labeled, unlabeled, opened, edited, synchronize]
jobs:
  enforce-label:
    runs-on: equinix-2cpu-8gb
    steps:
      - uses: yogevbd/enforce-label-action@2.1.0
        with:
          REQUIRED_LABELS_ANY: "ok-to-test"
          REQUIRED_LABELS_ANY_DESCRIPTION: "Requires ok-to-test label for testing before merge."
