name: Validate JSONs

on: [pull_request]

jobs:
  verify-json-validation:
    runs-on: equinix-2cpu-8gb
    steps:
      - uses: actions/checkout@v1
      - name: Validate JSON
        uses: docker://orrosenblatt/validate-json-action:latest
        env:
          INPUT_SCHEMA: /schema.json
          INPUT_JSONS: /people.json