name: Validate JSONs

on: [pull_request]

jobs:
  verify-json-validation:
    runs-on: [self-hosted, "Default"]
    steps:
      - uses: actions/checkout@v4
      - name: Validate JSON
        uses: docker://orrosenblatt/validate-json-action:latest
        env:
          INPUT_SCHEMA: /schema.json
          INPUT_JSONS: /people.json